.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 252, 252);
  
}

.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.textfield{
  height: 50px;
  width: 600px;
}

.button{
  margin: auto !important;
  width: 100px;
}

.container{
  background-color: aliceblue;
  padding: 50px;
}
